:root {
    background-color: #000;
}

body {
    margin: 20px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-family: "Consolas", "Courier New", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 200%;
}

table {
    width: 50%;
}

tr {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
}