body {
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  margin-top: 0px;
  padding-top: 0px;
  background-color: rgb(10, 159, 255);
  color: rgb(10, 159, 255);
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-style: bold;
  font-size: 200%;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px rgb(0, 119, 255);
  overflow-x: hidden;
}

table {
  width: 50%;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    color: #fff;
  }
  40% {
    transform: translateY(-40px);
    color: #0f0;
  }
  60% {
    transform: translateY(-15px);
    color: #00f;
  }
  90% {
    transform: translateY(-5px);
    color: royalblue;
  }
}

@keyframes bounce_rotate {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    color: #fff;
  }
  40% {
    transform: rotate(180);
  }
  60% {
    transform: translateY(-15px);
    color: #00f;
  }
  90% {
    transform: translateY(-5px);
    color: royalblue;
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1.8s;
  animation-iteration-count: 10;
  display:block;
}

.bob {
  color: rgb(255, 255, 255);
  font-size: 20px;
  /* font-size: 20px; */
  opacity: 0.3;
  transition: opacity 0.5s;
}

.bob:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

@keyframes example {
  0% {
    left: 40%;
    color: #fff;
  }
  8% {
    color: #f00;
  }
  16% {
    color: #0f0;
  }
  33% {
    left: 64%;
    color: #0f0;
  }
  37% {
    left: 64%;
    color: #00f;
  }
  50% {
    left: 300%;
    color: #00f;
  }
  50.001% {
    left: -300%;
  }
  67% {
    left: -300%;
    color: #00f;
  }
  84% {
    left: -25%;
    color: #f0f;
  }
  90% {
    left: 20%;
    color: #f00;
  }
  100% {
    left: 40%;
    color: #fff;
  }
}

@keyframes example_rotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(1080deg);
  }
  80% {
    transform: rotate(60deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 {
  left: 40%;
  animation: example, example_rotate;
  animation-duration: 6s;
  animation-iteration-count: 3;
  position: absolute;
}

th,
td,
tr {
  text-align: center;
  font-size: 90%;
  color: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 50);
  border-collapse: collapse;
  height: 60px;
  text-shadow: 2px 2px rgb(0, 119, 255);
}

th,
td {
  opacity: 0.7;
  transition: opacity 0.2s, border 0.8s;
}

th:hover,
td:hover {
  opacity: 1.5;
  transition: opacity 0.1s, border 0.8s;
  overflow: auto;
  border: 4px solid rgb(255, 255, 150);
}

button {
  background-color: rgb(251, 255, 0);
  border: 4px solid #333;
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  border-radius: 10px;
  font-style: bold;
  color: #440;
  text-shadow: 1.25px 1.25px rgb(151, 155, 0);
  opacity: 0.8;
  transition: opacity 0.1s;
}

button:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.add {
  color: #080;
  text-shadow: 1.25px 1.25px rgb(0, 155, 0);
}

.subtract {
  color: #800;
  text-shadow: 1.25px 1.25px rgb(155, 0, 0);
}

#table {
  position: relative;
}

#scores {
  position: absolute;
  left: 5%;
  top: 50px;
  width: 20%;
  text-shadow: 2px 2px rgb(0, 119, 255);
}

.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 50px auto;
  width: 60%;
}

form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px rgb(0, 119, 255);
  background: rgb(10, 159, 255);
}

.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-shadow: none;
  opacity: 0.8;
  transition: opacity 0.1s;
  height: 50px;
  transform: translateY(-15px);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}

#questionAnswer {
    display: none;
}

#showAnswer {
    display: block;
    background-color: rgb(0, 119, 255);
    text-shadow: none;
    padding: 10px;
    text-align: center;
    font-style: bold;
    font-size: 150%;
}

.category {
  opacity: 1;
  border: 4px solid rgb(255, 150, 0);
}

.category:hover {
  opacity: 1;
  border: 4px solid rgb(255, 0, 0);
}

#richards {
  font-size: 62%;
}
