:root {
    background-color: #000;

body {
    margin: 20px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    font-size: 200%;
    color: rgb(34,221,34);
}

table {
    width: 50%;
}

th, td, tr {
    text-align: center;
    color: #2d2;
    border: 1px solid rgb(34,221,34);
    border-collapse: collapse;
}