body {
    margin: 20px;
    padding: 20px;
    background-color:  rgb(10, 159, 255);
    color:  rgb(10, 159, 255);;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px rgb(0, 119, 255);
}

table {
    width: 50%;
}

th, td, tr {
    text-align: center;
    font-size: 90%;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 50);
    border-collapse: collapse;
    height: 100px;
    text-shadow: 2px 2px rgb(0, 119, 255);
}

th, td {
    opacity: 0.4;
    transition: opacity 0.2s, border 0.8s;
}

th:hover, td:hover {
    opacity: 1.0;
    transition: opacity 0.1s, border 0.4s;
    overflow: auto;
    border: 4px solid rgb(255, 255, 150);
}

button {
    background-color: rgb(251, 255, 0);
    border: 4px solid #333;
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    font-style: bold;
    color: #440;
    text-shadow: 1.25px 1.25px rgb(151, 155, 0);
    opacity: 0.6;
    transition: opacity 0.1s;
}

button:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.add {
    color: #080;
    text-shadow: 1.25px 1.25px rgb(0, 155, 0);
}

.subtract {
    color: #800;
    text-shadow: 1.25px 1.25px rgb(155, 0, 0);
}

#table {
    position: relative;
}

#scores {
    position: absolute;
    left: 5%;
    top: 10%;
    width:20%;
}
